*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

.box-1{
    text-align: center;
    background-color: pink;
    font-size: 50px;
    padding: 10px 20px 15px 12px;
    margin: 10px 20 px 15px 12px;
    border: 5px solid purple
}

header{
    text-align: center;
    font-size: 14px;
    background-color: #333;
    border: 5px solid #555;
    margin: 0px;
    padding: 20px;
    color: white;
}

header p{
    font-size: 12px;
    padding-top: 20px;
}

nav{
    font-size: 14px;
    background-color: #555;
    text-align: center;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    padding: 5px 10px;
}

nav ul li a:hover{
    background-color: #f9f9f9;
    color: #333;
}

article, section{
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px;
}

article p, section p{
    font-size: 14px;
    padding-top: 20px;
}


aside{
    padding: 20px;
    background-color: #f0f0f0;
    margin: 10px;
}

aside ul{
    font-size: 14px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}

footer{
    font-size: 12px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 20px 30px 12px;
    margin: 10px;
}

footer p{
    font-size: 12px;
    padding-top: 20px;
}